logs
target
/.idea
/.idea_modules
/.classpath
/.project
/.settings
/RUNNING_PID

# Ignore Play! working directory #
.eclipse
.cache
.history
*.iml
*.eml
dist
tmp
test-result
server.pid
tmp/
bin/
project/project
project/target
projectFilesBackup*
/out
/db
/modules
/dist/
/*.iml

project/activator-sbt-echo-play-shim.sbt
project/activator-sbt-eclipse-shim.sbt
project/activator-sbt-idea-shim.sbt

application-log-*.gz
